<a class="btn btn-primary" href="{:U("Home/Index/careworker")}">添加新护工</a>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>姓名</th>
        <th>性别</th>
        <th>电话</th>
        <th>身份证号</th>
        <th>地址</th>
        <th style="width: 3.5em;"></th>
    </tr>
    </thead>
    <tbody>
    <volist name="list" id="vo">
        <tr>
            <td>{$i}</td>
            <td>{$vo.name}</td>
            <td>{$vo.sex}</td>
            <td>{$vo.phone}</td>
            <td>{$vo.idcard}</td>
            <td>{$vo.address}</td>
            <td>
                <a href="{:U("Home/Index/careworker?id=$vo[id]")}"><i class="fa fa-pencil"></i></a>
                <a href="{:U("Home/Index/deletecareworker?id=$vo[id]")}" role="button" data-toggle="modal"
                onclick="del();"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    </volist>
    </tbody>
</table>

<script type="text/javascript">
    function del() {
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }
    }
</script>