<div class="row">
    <div class="col-md-4">
        <br>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="home">
                <form id="tab" method='post'>
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" name="username" id="username" value="{$list[0].username}"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="text" name="password" id="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>真实姓名</label>
                        <input type="text" name="realname" id="realname" value="{$list[0].realname}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>性别</label>
                        <input type="text" name="sex" id="sex" value="{$list[0].sex}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>身份证号</label>
                        <input type="text" name="idcard" id="idcard" value="{$list[0].idcard}"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label>电话</label>
                        <input type="text" name="phone" id="phone" value="{$list[0].phone}"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label>地址</label>
                        <textarea name="address" id="address" rows="3"
                                  class="form-control">{$list[0].address}</textarea>
                    </div>

            </div>
        </div>

        <div class="btn-toolbar list-toolbar">
            <button class="btn btn-primary" name="save"><i class="fa fa-save"></i> 保存</button>
            <a class="btn btn-primary" href="javascript:history.go(-1);">返回</a>
        </div>
        </form>
    </div>
</div>




